<h1>Register Form</h1>
<div class="form">
  <form action='/register' method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="{{username}}">
    {{#if errors.username}}
    <h5 class="error">{{errors.username}}</h5>
    {{/if}}

    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    {{#if errors.password}}
    <h5 class="error">{{errors.password}}</h5>
    {{/if}}

    <label for="repeatPassword">Re-Password</label>
    <input type="password" id="repeatPassword" name="repeatPassword">
    {{#if errors.repeatPassword}}
    <h5 class="error">{{errors.repeatPassword}}</h5>
    {{/if}}

    <input type="submit" value="Register">
  </form>
</div>